body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.header{
  position: sticky;
  top: 0;
  background-color: rgb(239, 224, 224);
  padding: 20px;
  font-size: 20px;
  }
  .header a.active {
    color: rgb(239, 224, 224);
  }
.vl{
  border-left: 1px solid darkslategrey;
  height: 30px;
}
.mainPage{
  margin: 8px;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  gap: 20px;
}
.shopsMenu{
  padding: 15px;
  border: 1px solid darkslategrey;
  border-radius: 10px;
  width: 20%;
}
.shopsMenuExtended{
  padding: 15px;
  border: 1px solid darkslategrey;
  border-radius: 10px;
  min-width: 100wh;
}
.shopsTitle{
  margin: 0;
  text-align: center;
  color: darkslategrey;
}
.shopItem{
  margin: 0;
  text-align: center;
  color: darkslategrey;
}
.shopsList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}
.shopDetailed{
  display: flex;
  justify-content: column;
  align-items: center;
  /* gap: 35px; */
}
.shopDetailed div{
  width: 100%;
}
.drugsMenu{
  border: 1px solid darkslategrey;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  align-items: top;
  justify-content: space-between;
  width: 80%;
}
.drugItem{
  padding: 16px;
  height: fit-content;
  width: 45%;
  text-align: center;
  line-height: 100%;
  border: 1px solid darkslategrey;
  border-radius: 10px;
  color: darkslategrey;
  margin: 20px auto;
}
.drugItem:hover {
  background-color: lightcyan;
  cursor: pointer;
}

.drugPic{
  height: 150px;
}
.picDescription{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}
.buyButton{
  width: 100px;
  height: 50px;
  border: 1px solid darkslategrey;
  border-radius: 10px;
  color: darkslategrey;
}
.buyButton:hover{
  background-color: antiquewhite;
  cursor: pointer;
}
.qtyCounter{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100px;
  height: 50px;
  border: 1px solid darkslategrey;
  border-radius: 10px;
  color: darkslategrey;
  background-color: white;
}
.qtyCounter:hover{
  background-color: white;
  cursor: pointer;
}
.qtyButton{
  background-color: white;
  border: none;
  color: darkslategrey;
}
.qtyButton:hover{
  font-weight: 800;
  cursor: pointer;
}
.cartItem{
  color: darkslategrey;
  padding: 16px;
  height: fit-content;
  width: 700px;
  display: flex;
  justify-content: space-between;
  border: 1px solid darkslategrey;
  align-items: center;
  border-radius: 10px;
  margin: 20px auto;
  align-items: center;
}
.cartItem div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 140px;
}
.cartTitle{
  color: darkslategrey;
  padding: 16px;
  height: fit-content;
  width: 700px;
  display: flex;
  justify-content: space-between;
  border: 1px solid darkslategrey;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: bold;
  align-items: center;
}
.cartTitle div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 140px;
}
.shoppingCart{
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  width: 100%;
  gap:5px;
}
.shopPage{
  display: flex;
  flex-direction: column;
  align-items:start;
  justify-content:start;
  width: 100%;
  gap:5px;
}
